@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
font-family: "Josefin Sans", sans-serif;
background:#f5f5f5;
font-size: 22px;
}
header ul li{
    float: left;
    padding: 20px;
}
section{
    width: 1300px;
    margin: 0 auto;
}
header .logotipo,header .menu{
    display: inline-block;

}
header{
    background-image: url(img/slider.png);
    width: 100%;
    height: 480px;
    content: "";
    background-position: top center;
    background-repeat: no-repeat;
    z-index: -99;
    background-attachment: fixed;
    background-size: contain;
}
header ul li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.clear{
    clear: both;
}
.titulo{
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    color: #fff;
}
.botao{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}
h1{
font-size: 50px;
    padding: 20px;
}
.hover,.botao,header ul li a{
    opacity: 1;
    transition: 0.3s;
}
.hover:hover,
.botao:hover,
header ul li a:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.sobre img{
    float: left;
    padding-right: 20px;
}
.sobre{
    padding: 50px 0;
    text-align: justify;
}
.sobre p{
    padding: 10px 0;
}

.funciona{
    background-color: #19A762;
    padding: 50px;
    color: #fff;
}
.s4{
    width: 30%;
    margin: 1%;
}
.funciona .icone{
    width: 20px;
    font-size: 40px;
    float: left;
}
.funciona .s4{
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 40px;
    
    display: inline-block;
}